extends layout

block content
  body(class="main-conf")
    
    main.container(role="main" style="padding-top:30px")
        h1.text-center New York Library
        p.lead.text-center All books that you have wanted.
        p.text-center Just find them!.
        
        div.row
          ul 
            each val in list
              li #{val}
                div.card(class="card-books")
                    img.card-img-top(src="../images/book-1200x800.jpg")         
                    div.card-body
                      h5.card-title Card Title
                      p.card-text description 
                      a.btn.btn-primary(href="#") link

        
        
          
