body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-conf {
  background-image: url("../images/Sunset-hd.jpg");
  background-position: top;
}

[class*="card-books"]{
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .card-books{
    width: 60%;
    height: 25%;
  } 
}

